<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'beers')}">

<body>

<h2>
    <th:block th:if="${beer['new']}">New Beer</th:block>
    Update Beer
</h2>
<form th:object="${beer}" class="row g-3" id="add-beer-form" method="post">

    <!-- Hidden fields -->
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{createdDate}" />
    <input type="hidden" th:field="*{version}" />

    <!-- Form fields replaced from fragments -->
    <!-- Each input fragment call implicitly assumes a parent div for layout -->
    <div class="col-md-6"> <!-- Example: Wrap fragment calls in a column for layout -->
        <div th:replace="~{fragments/inputField :: input ('Beer Name', 'beerName', 'text', ${#fields})}"></div>
    </div>
    <div class="col-md-6">
        <div th:replace="~{fragments/selectField :: select ('Style', 'beerStyle', ${beerStyles}, ${#fields})}"></div>
    </div>
    <div class="col-md-6">
        <div th:replace="~{fragments/inputField :: input ('UPC', 'upc', 'number', ${#fields})}"></div>
    </div>
    <div class="col-md-6">
        <div th:replace="~{fragments/inputField :: input ('Min Qty on Hand', 'minOnHand', 'number', ${#fields})}"></div>
    </div>
    <div class="col-md-6">
        <div th:replace="~{fragments/inputField :: input ('Qty to Brew', 'quantityToBrew', 'number', ${#fields})}"></div>
    </div>
    <div class="col-md-6">
        <div th:replace="~{fragments/inputField :: input ('Price', 'price', 'monetory', ${#fields})}"></div>
    </div>

    <!-- CSRF token -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <!-- Submit button -->
    <div class="col-12">
        <button
                th:with="text=${beer['new']} ? 'Add Beer' : 'Update Beer'"
                class="btn btn-secondary" type="submit" th:text="${text}">Add
            Beer</button>
    </div>
</form>
</body>
</html>