<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (~{::body},'beers')}">

<body>

<h2>Find Beers</h2>

<form th:object="${beer}" th:action="@{/beers}" method="get"
      class="row g-3" id="search-owner-form">

    <div class="col-md-6">
        <label for="beerName" class="form-label">Beer name</label>
        <input id="beerName" class="form-control" type="text" th:field="*{beerName}"
               maxlength="80"
               th:classappend="${#fields.hasErrors('beerName') ? 'is-invalid' : ''}" />
        <div th:if="${#fields.hasErrors('beerName')}" class="invalid-feedback">
            <p th:each="err : ${#fields.errors('beerName')}" th:text="${err}">Error</p>
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Find Beer</button>
    </div>

</form>

<br />
<a sec:authorize="hasAuthority('beer.create')" class="btn btn-primary" th:href="@{/beers/new}">Add Beer</a>

</body>
</html>