<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'customers')}">

<body>

<h2>Find Customers</h2>

<form th:object="${customer}" th:action="@{/customers}" method="get"
      class="row g-3" id="search-owner-form">

    <div class="col-md-6">
        <label for="customerName" class="form-label">Customer name</label>
        <input id="customerName" class="form-control border border-dark" type="text" th:field="*{customerName}"
               maxlength="80"
               th:classappend="${#fields.hasErrors('customerName') ? 'is-invalid' : ''}" />
        <div th:if="${#fields.hasErrors('customerName')}" class="invalid-feedback">
            <p th:each="err : ${#fields.errors('customerName')}" th:text="${err}">Error</p>
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-secondary">Find Customer</button>
    </div>

</form>

<br />
<a class="btn btn-secondary" th:href="@{/customers/new}">Register Customer</a>

</body>
</html>