.navbar {
  border-top: 4px solid #6db33f;
  background-color: #34302d;
  margin-bottom: 0px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.navbar a.navbar-brand {
  background: url("../images/platform-bg.png") -1px -1px no-repeat;
  margin: 12px 0 6px;
  width: 229px;
  height: 46px;
  display: inline-block;
  text-decoration: none;
  padding: 0;
}

.navbar a.navbar-brand span {
  display: flex;
  width: 229px;
  height: 46px;
  background: url("../images/platform-bg.png") -1px -48px no-repeat;
  opacity: 0;
  -moz-transition: opacity 0.12s ease-in-out;
  -webkit-transition: opacity 0.12s ease-in-out;
  -o-transition: opacity 0.12s ease-in-out;
}

.navbar a:hover.navbar-brand span {
  opacity: 1;
}

.navbar li > a {
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
}

.navbar .navbar-text {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar li:hover > a {
  color: #eeeeee;
  background-color: #6db33f;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  padding: 28px 20px; // If you truly want that large padding
}

.navbar .nav-item .nav-link:hover {
  color: #eee;
  background-color: #6db33f; // If you want a hover background in navbar
}

.navbar-toggler {
  border-width: 0;

  .navbar-toggler-icon{
    margin-top: 3px;
    width: 19px;
    height: 3px;
  }
}