<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Two Factor QR Code</title>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">
</head>
<body>
<h2>Scan QR Code using Google Authenticator, enter code to verify</h2>
<div class="row">
    <div class="col-md-12">
        <img th:src="${googleurl}"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form th:action="@{/user/register2fa}" class="" id="verify-code-form" method="post">
            <div class="mb-3">
                <label for="verifyCode">Enter code</label>
                <input type="text" id="verifyCode" name="verifyCode" class="form-control border border-dark"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </div>
            <div class="mb-3">
                <div class=" col-sm-10 offset-sm-2">
                    <button class="btn btn-secondary" type="submit" >Verify Code</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>