<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

    <title>SFG Beer Works</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/resources/css/brewery.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-dark" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><span></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="main-navbar">
            <ul class="navbar-nav justify-content-end">
                <li th:fragment="menuItem (path,active,title,glyph,text)" class="nav-item"
                    th:classappend="${active==menu ? 'active' : ''}">
                    <a th:href="@{__${path}__}" th:title="${title}" class="nav-link"
                       th:classappend="${active==menu ? 'active' : ''}"
                       th:aria-current="${active==menu ? 'page' : ''}">
                        <i th:class="'bi bi-' + ${glyph}" aria-hidden="true"></i>
                        <span th:text="${text}">Template</span>
                    </a>
                </li>

                <li th:replace="::menuItem ('/','home','home page','house','Home')" class="nav-item">
                    <span>Home</span>
                </li>

                <li th:replace="::menuItem ('/customers/find','customers','find customers','search','Customers')"class="nav-item">
                </li>

                <li th:replace="::menuItem ('/beers/find','beers','find beers','search','Find beers')" class="nav-item">
                </li>

                <li th:replace="::menuItem ('/brewery/breweries','breweries','breweries','building','Breweries')" class="nav-item">
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container xd-container">

        <th:block th:include="${template}"/>

        <br/>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">Spring Framework Guru 2020</div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>