<html>
<body>
  <form class="needs-validation" novalidate>
    <th:block th:fragment="select (label, name, items, fields)">
      <div class="mb-3">
        <label class="col-sm-2 form-label" th:text="${label}">Label</label>

        <div class="col-sm-10">
          <select th:field="*{__${name}__}" class="form-select border border-dark" th:classappend="${!#fields.hasErrors(name) ? '' : 'is-invalid'}">
            <option th:each="item : ${items}" th:value="${item}" th:text="${item}">dog</option>
          </select>
            <div th:if="${!#fields.hasErrors(name)}" class="valid-feedback">Looks good!</div>
            <div th:if="${#fields.hasErrors(name)}" class="invalid-feedback" th:errors="*{__${name}__}">Error</div>
        </div>
      </div>
    </th:block>
  </form>
</body>
</html>